body {
  background-image: url("../login.jpg");
  }
  #box1{
    background-color: white;
    border-radius: 5px;
  }
  .login-box{
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  }
  #border{
  border-bottom: 3px solid black;
  max-width: 50px;
  }
  .hr1{
    margin-top: -1px;
  }
  .right-box{
    height: 500px;
    width: 100px;
    border-color: red;
  }
  #div2 {
    max-width: 60px;
  height: 373px;  
   background: linear-gradient(to bottom, #000066 100%, #333300 50%);
   border-radius: 5px;
  }
  #icon{
    color: white;

  }